<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="~/StaticAssests/assets/img/favicon.png" rel="icon">
    <link href="~/StaticAssests/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/StaticAssests/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/StaticAssests/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <link href="~/StaticAssests/assets/css/style.css" rel="stylesheet" />

    <style type="text/css">
       .wave{
           position: absolute;
           bottom: -60px;
           left:0;
       }
    </style>

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">StopnShip</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="~/StaticAssests/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>

                    <li><a class="getstarted scrollto" href="/Identity/Account/Login">Login</a></li>
                    <li><a class="getstarted scrollto" href="/Identity/Account/Register">Sign up</a></li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->


        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column align-items-center" >

        <div class="container ">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>
                        Start Shipping.
                        Begin Saving.
                    </h1>
                    <p style="color:white">Cut your shipping expenses with a flat discount rate of up to 92%</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Ship Your First Order</a>
                        <a href="#why-us" class="glightbox btn-watch-video"><i class="bi bi-info"></i><span>Learn More</span></a>
                    </div>
                    <div class="hero_btm_area">
                        <div class="hero_btm">
                            <h5> <img src="~/StaticAssests/assets/img/feat_box.svg" alt="a" class="img-fluid"> 30,000+</h5>
                            <p>Labels Created</p>
                        </div>
                        <div class="hero_btm">
                            <h5> <img src="~/StaticAssests/assets/img/feather-users.svg" alt="a" class="img-fluid"> 3,200+</h5>
                            <p>Number of customers</p>
                        </div>
                        <div class="hero_btm">
                            <h5> <img src="~/StaticAssests/assets/img/feat_label.svg" alt="a" class="img-fluid"> 30,000+</h5>
                            <p>Number of packages shipped</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/StaticAssests/assets/img/heropng2.png" class="img-fluid animated" alt="">

                </div>
                <div class="area">
                    <ul class="circles">
                        <li></li>

                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>


                    </ul>

                </div>



            </div>
        </div>

        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f3f5fa" fill-opacity="1" d="M0,128L30,122.7C60,117,120,107,180,128C240,149,300,203,360,192C420,181,480,107,540,90.7C600,75,660,117,720,160C780,203,840,245,900,218.7C960,192,1020,96,1080,80C1140,64,1200,128,1260,160C1320,192,1380,192,1410,192L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
        </svg>
    </section><!-- End Hero -->

    <main id="main">
      
        <section id="services" class="services section-bg" >
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="">Features</h2>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 pt-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box" style="border-radius:45px">
                            <div class="icon">
                                <img src="~/StaticAssests/assets/img/Wemakeiteasy.png" alt="a" class="img-fluid ">
                            </div>
                            <h4><a href="">We Make It Easy</a></h4>
                            <p>Start creating labels and shipping parcels with ease in less than 10 minutes! With our automated label creation system and contact books you can start printing those labels in no time. No fees, markup, or hidden costs. Just guaranteed cheapest rates!</p>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 pt-2" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box" style="border-radius: 45px">
                            <div class="icon">
                                <img src="~/StaticAssests/assets/img/Cheapest-Rates.png" alt="a" class="img-fluid ">
                            </div>
                            <h4><a href="">Guaranteed Cheapest Rates.</a></h4>
                            <p>See a better deal? We’ll refund the difference if you find a lower price. Thinking about shipping overseas? We offer a flat discount rate of up to 92% for both Domestic and International shipments with pre-paid custom charges. Start saving today, risk free. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 pt-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box" style="border-radius: 45px">
                            <div class="icon">
                                <img src="~/StaticAssests/assets/img/testimonials.png" alt="a" class="img-fluid ">
                            </div>
                            <h4><a href="">Customer Testimonials</a></h4>
                            <p>
                                We constantly survey our customers and ask if they’re willing to say a few words.<br />
                                Satisfied customers are what we strive for.<br />
                                Don’t just take It from us - See what our customers have to say below.
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 pt-2" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box" style="border-radius: 45px">
                            <div class="icon">
                                <img src="~/StaticAssests/assets/img/customer-suport.png" alt="a" class="img-fluid ">
                            </div>
                            <h4><a href="">24/7 Support</a></h4>
                            <p>24/7 Live Chat Support. Having issues, questions or just need some help? Our Customer Service is available all day, all week. Feel free to get in touch with us and we will be happy to help you start shipping asap! </p>
                        </div>
                    </div>

                </div>
                @*<div class="details_logos pt-4" style="padding-bottom: 30px;">
                        <ul>
                            <li><a href=""><img src="~/StaticAssests/assets/img/fedex.png" alt="a" class="img-fluid"></a></li>
                            <li><a href=""><img src="~/StaticAssests/assets/img/ups.png" alt="a" class="img-fluid"></a></li>
                            <li><a href=""><img src="~/StaticAssests/assets/img/angle.png" alt="a" class="img-fluid"></a></li>
                        </ul>
                    </div>*@

            </div>
        </section><!-- End Services Section -->
       
        <section id="pricing" class="pricing" style="padding-bottom: 0 !important">
            <div class="container" data-aos="fade-up" style="padding:0px !important">

                <div class="section-title">
                    <h2 style="color: #174af1;">Our Shipping Carriers</h2>
                    @*<p style="color: white;">Price is adjusted by volume of orders from the user, here's the standard rates.</p>*@
                </div>

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <img src="~/StaticAssests/assets/img/usps-logo-vector-5693-128x128.ico" alt="a" class="img-fluid ">
                            <h5><span>USPS</span></h5>
                            <h4><span>For The Smaller Shipments.</span></h4>
                            <ul>
                                <li> Up to 60 lbs</li>
                                <li>Express & Priority Mail</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <img src="~/StaticAssests/assets/img/ups.ico" alt="a" class="img-fluid">
                            <h5><span>UPS</span></h5>
                            <h4><span>For Small & Large Shipments.</span></h4>
                            <ul>
                                <li> Up to 120lbs</li>
                                <li>Ground Level Delivery</li>

                            </ul>

                        </div>
                    </div>


                    <div class="col-lg-4 mt-4 mt-lg-0 " data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <img src="~/StaticAssests/assets/img/fedexlogo.png" alt="a" class="img-fluid">
                            <h5><span>FedEx</span></h5>
                            <h4><span>For Larger Shipments & Speed.</span></h4>
                            <ul>
                                <li> Up to 120lbs</li>
                                <li> First Overnight, Ground & More</li>

                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-2 mt-4 mt-lg-0 pt-2" data-aos="fade-up" data-aos-delay="300">
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0 pt-2" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <img src="~/StaticAssests/assets/img/fedexlogo.png" alt="a" class="img-fluid">
                            <h5><span>FedEx Intl</span></h5>
                            <h4><span>For International Shipments.</span></h4>
                            <ul>
                                <li> Up to 120lbs</li>
                                <li>Economy & Priority</li>

                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0 pt-2" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <img src="~/StaticAssests/assets/img/royal-mail-logo.png" alt="a" class="img-fluid">
                            <h5><span>Royal Mail</span></h5>
                            <h4><span>For Shipments Throughout UK.</span></h4>
                            <ul>
                                <li> Up to 20 Kilogram</li>
                                <li>Economy & Priority</li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-2 mt-4 mt-lg-0 pt-2" data-aos="fade-up" data-aos-delay="300">
                    </div>
                </div>
                <div class="row">
                    <div style="text-align:center;">
                        <a href="/Identity/Account/Register" class="buy-btn">Create a Shipment</a>
                    </div>
                </div>

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fff" fill-opacity="1" d="M0,128L30,122.7C60,117,120,107,180,128C240,149,300,203,360,192C420,181,480,107,540,90.7C600,75,660,117,720,160C780,203,840,245,900,218.7C960,192,1020,96,1080,80C1140,64,1200,128,1260,160C1320,192,1380,192,1410,192L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
            </svg>
        </section><!-- End Pricing Section -->
        
        <!-- ======= Testimonials Section ======= -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Testimonials</h2>
                    <p>What they are saying about us</p>
                </header>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="~/StaticAssests/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="~/StaticAssests/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                    <h3>Sara Wilsson</h3>
                                    <h4>Designer</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="~/StaticAssests/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                    <h3>Jena Karlis</h3>
                                    <h4>Store Owner</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="~/StaticAssests/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                    <h3>Matt Brandon</h3>
                                    <h4>Freelancer</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="~/StaticAssests/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- End Testimonials Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
      
        <section id="faq" class="faq section-bg" style="background: rgb(138,207,250); background: linear-gradient(0deg, rgba(138,207,250,1) 0%, rgba(252,254,255,1) 100%); padding-bottom: 0;">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="color:#174af1">Frequently Asked Questions</h2>
                    @*  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                                How do I get started?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Starting is easy! Just 3 simple steps:<br />
                                    Step 1: Create your FREE account.<br />
                                    Step 2: Weigh your package.<br />
                                    Step 3: Create a Label<br />
                                    That’s it, it’s that easy!
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                                What can I do about a missing package?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    For missing domestic shipments, or international shipments that got lost in transit, you can initiate an international/domesticclaim with the shipping carrier! The shipping company is fully liable for any missing/lost shipments. We suggest first waiting 7 business days from the shipment date (or 30 days for international shipments).
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                                Do I need to create an account with the shipping carrier?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    No, you do not need to create an account regardlessof the shipping carrier. Just print your label and slap it on your package, and you’re good to go!
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                                What is the cheapest way to send a heavy package?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    For light items, USPS is the cheapest way to ship if that is your goal. For heavier items greater than 2lbs in which delivery time is not a factor, FedEx or UPS Ground is the cheapest way to ship. It's the 2-3 day delivery window where you have to weigh the trade offs.

                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
                                How can I get free shipping supplies?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Depending on the shipping carrier, in most cases they will send you priority and express shipping rate boxes for free.You can also swing by your local post office or  shippingcustomer centers to pick up or purchase additional packaging materials in person.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">
                                Can I use duct tape to ship?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Do not use masking tape, cellophane tape, duct tape, water-activated paper tapes, string, or wrap the box in paper because it will not provide a strong enough seal.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">
                                Where to print when you don't have a printer?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    If you don't have access to a printer to print a shipping label, you can go to your local post office or schedule a pickup with the shipping carrier and they will print the label for you. Shipping carriers like FedEX, UPS, USPS let you schedule a pickup without labels and the driver will bring your shipping documents.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">
                                How do you reduce a freight claim?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Freight shipping damage prevention starts from the moment your crew begins packing items. Secure packing practices, whether it is for boxed goods or pallets of cargo, may be the easiest way to prevent harm to your items during transport.
                                </p>
                            </div>
                        </li>


                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-12" class="collapsed">

                                Does FedEx track international packages?

                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-12" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes. You can track the status of your international shipments as quickly and easily as you can your U.S. shipments.
                                </p>
                            </div>
                        </li>


                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">
                                How many days will FedEx, UPS, USPS hold my package?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Customer centers can hold your package for up to 5-7 business days. If it's more convenient, you can also leave your package with a neighbor or, in some instances, send to another address. All of these arrangements can be made from your shipping carrier account.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">
                                How can I cancel a shipment?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Login to your account with the shipping carrier you used, click the intercept shipment Option or call the shipment carrier, If the package has not been delivered, the next time it's scanned it will cause a exception to occur, and the package movement will stop, and a new label will be generated and the package will be sent back to you.  Most domestic mailings with a tracking or extra services barcode are eligible for Package Intercept.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">
                                Why do parcels get stuck in customs?
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Often, shipments are held up in customs to check that the contents of the package and the value of the goods were declared accurately. There is little that can be done to stop or speed up these random checks and attempts to such may just be a waste of time.
                                </p>
                            </div>
                        </li>



                    </ul>
                </div>

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fff" fill-opacity="1" d="M0,128L30,122.7C60,117,120,107,180,128C240,149,300,203,360,192C420,181,480,107,540,90.7C600,75,660,117,720,160C780,203,840,245,900,218.7C960,192,1020,96,1080,80C1140,64,1200,128,1260,160C1320,192,1380,192,1410,192L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
            </svg>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Contact Section ======= -->
        
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
                </div>

                <div class="row">



                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch mx-auto">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <hr />
    <footer id="footer">

        @*<div class="footer-newsletter" style="background-color: #152b48;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <h4 style="color: white;">Join Us On Telegram</h4>
                            <p style="color: white;">
                                You can stay up to date with our services in case of maintenance.

                            </p>
                            <div class="col-lg-12">
                                <div class="announcemtn_box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="anncemnt_lft">
                                        <div class="media">
                                            <img src="~/StaticAssests/assets/img/paper-plan.png" alt="">
                                            <div class="media-body">
                                                <h5>Announcements</h5>
                                                <p>For all the updates &amp; announcements.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="anncemnt_rgt">
                                        <a href="#" target="_blank" class="btn btn_custom"> <img src="~/StaticAssests/assets/img/telegram.svg" alt="a" class="img-fluid"> Join This Telegram</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="announcemtn_box aos-init" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="anncemnt_lft">
                                        <div class="media">
                                            <img src="~/StaticAssests/assets/img/paper-plan.png" alt="">
                                            <div class="media-body">
                                                <h5>Support</h5>
                                                <p>For all personal support from our team of representatives.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="anncemnt_rgt">
                                        <a href="#" target="_blank" class="btn btn_custom"> <img src="~/StaticAssests/assets/img/telegram.svg" alt="a" class="img-fluid"> Join This Telegram</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="footer-top" style="background-color: #061933;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-sm-12">
                        <div class="ftr_logo">
                            <h6><img src="~/StaticAssests/assets/img/truck-ftr.png" alt="aa" class="img-fluid"> Delivery Service</h6>
                            <p>We've operated our business since end of 2019, and we provide high quality shipping labels for your personal usage, or for your business to cut expenses and increase profit &amp; speed of deliveries.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        @*<div class="ftr_links">
                                <h6>Contact Us</h6>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="~/StaticAssests/assets/img/telegram.svg" alt="a" class="img-fluid">
                                            </td>
                                            <td>
                                                <a href="#" target="_blank">Telegram</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/StaticAssests/assets/img/twitter.svg" alt="a" class="img-fluid">
                                            </td>
                                            <td>
                                                <a href="">Twitter</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/StaticAssests/assets/img/discord.svg" alt="a" class="img-fluid">
                                            </td>
                                            <td>
                                                <a href="">Discord</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        @*<div class="ftr_links">
                                <h6>FAQs</h6>

                                <ul>
                                    <li><a href="">How can I get the feature X?</a></li>
                                    <li><a href="">Can I get a customised plan?</a></li>
                                    <li><a href="">How much savings we are talking here?</a></li>
                                </ul>

                                <a href="#" class="mre_ftr">More FAQs</a>
                            </div>*@
                    </div>






                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https:/bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https:/bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https:/zunmansolutions.com/">Zunman Solutions</a>
            </div>
        </div>
    </footer><!-- End Footer -->
    <div class="fixed-btns">
        <a class="btn btn-primary">Support Chat</a>

    </div>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div>
        @RenderBody()
    </div>

    <!-- Vendor JS Files -->
    <script src="~/StaticAssests/assets/vendor/aos/aos.js"></script>
    <script src="~/StaticAssests/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/StaticAssests/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/StaticAssests/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/StaticAssests/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/StaticAssests/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/StaticAssests/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/StaticAssests/assets/js/main.js"></script>
</body>
</html>
